TOKEN=
sql_user=
sql_pass=
sql_host=
sql_db=
sql_usertable=
sql_globaltable=
sql_beachtable=
recs_log=
global_log=
bottle_log=
mod_log=
crash_log=
bot_id=
cache_window=
pull_cd_base=
pull_cd_factor=
max_cd_entries=