{
    "reactions": [],
    "gambleboard": {
        "usertemplate": {
            "balance": 1000,
            "winstreak": 0,
            "winrate": [0, 0, 0],
            "totalgames": 0
        },
        "gametemplate": {
            "winstreak": 0,
            "winrate": [0, 0, 0],
            "totalgames": 0
        },
        "users": {}
    }
    "beach": {
        "bottletemplate": {
            "message": "",
            "author": "",
            "date": ""
        },
        "bottles": []
    }
}